
/****************** Barra do usuário e Espaço do usuário ******************/

/********ABA Lateral - Espaço do Usuário**********/
/*escondendo e revelando a aba lateral*/
div#wrap-1,div#wrap-0{transition-duration: 0.6s;-webkit-transition-duration:0.6s;}
div#wrap-1,div#theme-footer {float: right;}
div#wrap-1.menu,div#theme-footer.menu {width: 80%;}
div#wrap-0.menu{width: 20%; float: left;height: 1px;}

/*Propriedades da aba lateral e elementos internos*/
#navigation-control {
	width: 20%;
	position: absolute;
	display: inline-block;
	background-color: transparent;
	color: black;
}

#navigation-control a{}

#navigation-control ul li {
	margin: 10px 0;
	text-align: left;
}

#navigation-control ul li a.button.with-text, 
#navigation-control ul li a.button.with-text:visited {
	border: 0px solid #AAA;
}

#navigation-control ul li a span {
	background-repeat: no-repeat;
	/*padding-left: 25px;*/
}

/**/
#navigation-control .perfil{
	display: inline-block;
	background-color: gray;
	width: 100%;
}

#navigation-control .perfil ul{padding-left: 0;}

#navigation-control .perfil ul li{}

#navigation-control .perfil .name{text-align: center;}

#navigation-control .perfil .name h1{color: #fff;}

#navigation-control .perfil .picture{display: inline-block;width: 100%;text-align: center;}

#navigation-control .perfil .picture img{max-width: 140px; max-height: 140px;overflow: hidden;/*border-radius: 50%;border: 1px solid red;*/}

#navigation-control .perfil .tasks_inner{cursor:pointer; color: #fff;display: inline-block;width: 49%;text-align: center;background: url(images/barra-menu-task.png) no-repeat 10px center gray;}

#navigation-control .perfil .user_status{cursor:pointer; display:inline-block; width:49% ; text-align: center;}

#navigation-control .perfil .online{color: greenyellow;}
#navigation-control .perfil .busy{color: red;}
#navigation-control .perfil .away{color: yellow;}
#navigation-control .perfil .offline{color: #ccc;}

#navigation-control .perfil .online span{font-size: large;vertical-align: -1px;}


#navigation-control .menu_user{margin-top: 0;}

#navigation-control .menu_user .activity_menu {margin-top: 0;padding: 0;border-top: 1px solid #ddd;}

#navigation-control .menu_user .activity_menu .activity_menu_item{color: #ddd; background-color: gray;padding: 14px 28px;margin: 0;border-bottom: 1px solid #ddd;}

#navigation-control .menu_user .activity_menu .activity_menu_item:hover {background-color: #ddd; color: #333;}

#navigation-control .menu_user .activity_menu .activity_menu_item span{float: right;}

#navigation-control .menu_user .activity_menu .activity_menu_item .quick_post{padding: 14px;background-color: #fff;margin-top: 10px;display: none;}

/********FIM ABA Lateral - Espaço do Usuário**********/


/****************** Barra do usuário ******************/
#barra-psocial {
    position: relative;
    height: 40px;
    margin: auto;
    background: url(images/barra-psocial-bg.png) repeat-x;
}

#barra-psocial.top {
	background-image: none;
	background-color: #fff;
    height: 40px;
}

#barra-psocial li {
  float: left;
}


/*****Botões da barra do usuário - Menu - Pendẽncias - Mensagens *****/
.btn_control_panel{
	min-width: 40px;
	height: 40px;
	color: #999;
	margin-top: 0;
	display: inline-block;
	float: left;
	cursor: pointer;
	border-right: 1px solid #999;
	opacity:0.4;
	filter:alpha(opacity=40);
	padding: 0px 0px 0 35px;
}

.btn_control_panel:hover {	background-color: #ddd;	opacity:0.8;filter:alpha(opacity=80);}

.btn_control_panel span{margin:8px 5px 5px 5px; border: 1px solid gray;border-radius: 5px; background-color: white; padding: 3px;color: #333;display: inline-block;}

a.btn_control_panel span{margin:0px; border: 0px solid gray;border-radius: 0px; background-color: transparent; padding: 0px;color: #333;display: inline-block;height: 35px;}

.btn_control_panel ul {padding-left: 0;text-align: left;margin: 0;padding: 1em}

.btn_control_panel ul li {display: none;padding-left: 0;text-align: left;margin: 0;padding: 1em}

a.btn_control_panel:hover ul li{display: block;}

.btn_control_panel ul li ul {display: none;}

.btn_control_panel ul.menu_conteudo li:hover ul {display: inline-block}


/*****FIM Botões da barra do usuário - Menu - Pendẽncias - Mensagens *****/

.btn_control,
.btn_menu {
	background: url(images/barra-menu-control.png) no-repeat 14px center #eee;
	padding-left: 10px;
}

.btn_tasks {
	background: url(images/barra-menu-task.png) no-repeat 10px center #eee;padding-left: 30px;
}

.btn_msg {
	background: url(images/barra-menu-mail.png) no-repeat 10px center #eee;
}


/*tarefas da barra do usuário*/
.task_list {
	position: absolute;
	background: #eee;
	z-index: 9999;
   margin-left: 50px;
	visibility: visible;
	display: block;
}

#msg_list.task_list {margin-left: 122px;}

.task_list ul {display: inline-block;padding-left: 0;}

.task_list ul li {
	float: none;
	display: block;
	padding: 10px;
}
.task_list ul .task_box {
	border-bottom: 1px solid #ccc;
/*	display: inline-block;
	float: left;
	margin-right: 1em;*/
}

.task_icon {
	float: left;
	margin-right: 14px;
}

.task_list ul .task_decisions {
	clear: right;
}

.task_information {
	display: inline-block;
	width: 300px;
}

.task_list ul .task_title {margin-right: 0px !important}

.task_list .button-bar{float: right;margin-right: 10px;}

.task_list .button-bar a.button.with-text {
	padding: 5px 10px;
	padding-left: 20px;
	padding-right: 5px;
}
.task_list .button-bar input.button.with-text {
	max-height: 32px;
	height: 32px;
	padding: 0 25px;
	padding-right: 10px;
}

.task_list.hide {display: none; visibility: hidden;}

/*FIM tarefas da barra do usuário*/


/**/

 /*código "#control-panel" substituído por "#control_panel_bar" */
/*
#control-panel {
	position: absolute;
	width: 230px;
	padding: 10px;
}
#control-panel .pending-tasks {background-color: white;}

#control-panel .pending-tasks ul{
	padding-left: 0;
}

#control-panel .pending-tasks ul li{
	margin: 10px 0;
	padding: 10px 0;
	border-bottom: 1px solid gray;
}

#control-panel .control-panel {position: relative;}

#control-panel .control-panel a, 
#control-panel .control-panel a:visited {
	clear: left;
	border-bottom: 1px solid LightGray;
}
*/



/************* Bar Psocial Style - Menu Horizontal**************/
/*
#user{
  padding: 0px 2em;
  top: -30px;
  font-size: 12px;
  right: 4em;
}

.logged-in #user{
	 top: -40px;
}
*/

#user{

  top: 0px;
  font-size: 12px;
  position: relative;
}


#user form {
    display:none;
}

#user .logged-in {
	 visibility: hidden;
	 display: block;
    background:url("images/barra-menu-user-bg.png") repeat-x bottom center #FEFEFE;
    display: block;
    padding: 2px 1em;
    text-align: left;
    width: 130px;
 	 border-radius: 10px
}

#user .logged-in:hover {
	 visibility: visible;
}
#user .logged-in a#homepage-link {
	display: block;
	visibility: visible;
}


#user .logged-in a.admin-link,
#user .logged-in a.ctrl-panel,
#user .logged-in a#logout {
	margin-top: 14px;
}


#user .logged-in span {display: none;}

#user .logged-in a {
    display: block;
    margin-bottom: 10px;
	width: auto;
}

#user .logged-in #pending-tasks-count {
	display: inline-block;
	left: -30px;
	position: absolute;
	top: 0px;
	visibility: visible;
	text-align: right;
}

/****************** FIM Barra do usuário ******************/

/****************** FIM Barra do usuário e Menu do usuário ******************/




/****************** Painel de Controle ******************/

/*Botão Painel de controle*/

#btn_open_control_panel {}

#btn_open_control_panel span {
	position: relative;
	background: url("images/20-gear2.png") no-repeat left center transparent;
	padding-left: 30px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
}

#btn_open_control_panel.show span {}

/*****FIM Botão Painel de controle*****/

/*barra (menu) painel de controle*/

#control_panel_bar {
	/*width: 100%;*/
	text-align: center;
	display: inline-block;
	padding-top: 0px;
	background-color: #ccc;
	/*overflow: hidden;*/
	height: 0px;
	transition: 0.6s;
	margin-bottom: 14px;
	width: 100%;
}


#control_panel_bar.show {
	padding-top: 0px;
	background-color: transparent;
	height: 80px;

}

.btn_control_panel_bar{
	text-align: right;
	position: absolute;
	right: 0;
}

#control_panel_bar .btn_control_panel{
	float: none;
}

#control_panel_bar #new_content{
	background-image: url(images/text-editor.png);
	background-repeat: no-repeat;
}

#control_panel_bar .btn_control {
	background-position: center 3px;
	height: 35px;
	padding: 40px 14px 0px 14px;
	display: inline-block;
	width: 100px;
	vertical-align: top;
	background-size: 25%;
}

#control_panel_bar .btn_menu{
	background-position: center 3px;
	height: 0px;
	overflow: hidden;
	padding: 0px;
	display: inline-block;
	width: 100px;
	vertical-align: top;
	background-size: 25%;
	transition: 0.6s;
}

#control_panel_bar.show .btn_menu{
	background-position: center 3px;
	height: 35px;
	overflow: visible;
	padding: 40px 14px 0px 14px;
	display: inline-block;
	width: 100px;
	vertical-align: top;
	background-size: 25%;
}

/*Menu e SubMenu do Painel de controle*/
#control_panel_bar a.btn_control_panel span{margin:0px; border: 0px solid gray;border-radius: 0px; background-color: transparent; padding: 0px;color: #333;display: inline-block;height: 35px;}

#control_panel_bar .btn_control_panel ul {padding-left: 0;text-align: left;margin: 0;padding: 1em}

#control_panel_bar .btn_control_panel ul li {display: none;padding-left: 0;text-align: left;margin: 0;padding: 1em}

#control_panel_bar a.btn_control_panel:hover ul li{display: block;}

#control_panel_bar .btn_control_panel ul li ul {display: none;}

#control_panel_bar .btn_control_panel ul.menu_conteudo li:hover ul {display: inline-block}
/*FIM Menu e SubMenu do Painel de controle*/

/* FIM barra (menu) painel de controle*/



/****************** FIM Painel de Controle ******************/

